@font-face {
  font-family: "Courier";
  src: url("/fonts/cpr.ttf") format("truetype");
}
@font-face {
  font-family: "Italiana";
  src: url("/fonts/ir.ttf") format("truetype");
}
@font-face {
  font-family: "Jim";
  src: url("/fonts/jim.ttf") format("truetype");
}
